// Colors
$black: #000000;
$white: #ffffff;
$magenta: #fb004a;
$yellow_1: #d48100;
$yellow_2: #fdaa00;
$purple: #3f4fb4;
$yellow_3: #feb82f;
$yellow_4: #feca30;
$orange_1: #e65700;
$orange_2: #ff7c15;
$gray_1: #848484;

// Layers
$layer-n: -1;
$layer: 0;
$layer-1: 1;
$layer-2: 2;
