// Colors
$black: #000000;
$white: #ffffff;
$magenta: #fb004a;
$purple: #4f5cc1;
$yellow_1: #d48100;
$yellow_2: #fdaa00;
$yellow_3: #ffc33c;
$yellow_4: #ffd23d;
$yellow_5: #fac900;
$yellow_6: #ffcb2f;
$orange_1: #ed6d00;
$orange_2: #ff9018;
$gray_1: #848484;
$dark_1: #101010;
$green_1: #37bd6c;
$blue_1: #5066c1;
$blue_2: #697ac1;

// Layers
$layer-n: -1;
$layer: 0;
$layer-1: 1;
$layer-2: 2;
