
.news
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    .left-content
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        color: $black;
        background: $yellow_5;
        width: 60%;
        padding: 100px 75px 100px 0;

        @include media-breakpoint-down(lg)
        {
            width: 100%;
            padding: 10px;
            justify-content: flex-start;
        }

        .wrap-content
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
            width: 700px;

            .single-news
            {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 0 0 35px;

                .wrap-single-news
                {
                    width: fit-content;
                }

                .news-infos
                {
                    display: flex;

                    .date
                    {
                        margin-right: 5px;
                        small
                        {
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                    }

                    .category
                    {
                        small
                        {
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                    }
                }

                .news-content
                {

                    .title
                    {
                        min-height: 43px;
                        color: $black;
                        text-decoration: none;


                        h3
                        {
                            font-size: 1.8rem;
                            font-weight: 700;
                            width: 315px;
                            margin: 20px 0;
                        }
                    }

                    .text
                    {
                        color: $black;
                        text-decoration: none;

                        p
                        {
                            color: $black;
                            font-size: 1.4rem;
                            font-weight: 500;
                            width: 250px;
                        }
                    }

                    &:hover
                    {
                        .title,
                        .text
                        {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .main-content
    {
        color: $black;
        background: $yellow_6;
        width: 40%;
        padding: 120px 0 120px 120px;

        @include media-breakpoint-down(xl)
        {
            padding: 50px 0 0 50px;
        }

        @include media-breakpoint-down(lg)
        {
            width: 100%;
            padding: 0 2%;
        }

        .wrap-content
        {
            width: fit-content;

            .title
            {
                h2
                {
                    display: flex;
                    flex-direction: column;
                    font-size: 9.2rem;
                    font-weight: 300;
                    width: 80px;

                    @include media-breakpoint-down(lg)
                    {
                        font-size: 6.2rem;
                        width: 100%;
                        margin: 20px 0;
                    }

                    @include media-breakpoint-down(md)
                    {
                        font-size: 3.2rem;
                    }

                    strong
                    {
                        font-size: 6.7rem;
                        font-weight: 700;
                        border-top: 4px solid $black;

                        @include media-breakpoint-down(lg)
                        {
                            font-size: 3.7rem;
                            width: fit-content;
                        }

                        @include media-breakpoint-down(md)
                        {
                            font-size: 2.7rem;
                        }
                    }

                }
            }

            .text
            {
                p
                {
                    font-size: 2rem;
                    font-weight: 500;
                    width: 130px;

                    @include media-breakpoint-down(lg)
                    {
                        width: 100%;
                        margin: 0 0 20px;
                    }

                    @include media-breakpoint-down(md)
                    {
                        font-size: 1.8rem;
                    }

                }
            }

        }
    }
}

.full-post-wrap
{
    position: relative;

    .single-post-news
    {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        .backdrop-post-news
        {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(80, 103, 193, 0.8);
            z-index: $layer-1;
            top: 0;
        }

        .wrap-single-post
        {
            background: $blue_1;
            width: 60%;
            height: 100%;
            position: relative;
            z-index: $layer-2;
            margin-left: auto;

            .single-post
            {
                .wrap-top-single-post
                {

                }

                .wrap-content-single-post
                {

                }

                .wrap-bottom-single-post
                {
                    .pagination-single-post
                    {
                        display: flex;
                        flex-wrap: wrap;

                        .previous-post
                        {
                            cursor: pointer;
                            margin-right: 20px;

                            &:hover
                            {
                                svg
                                {
                                    fill: $yellow_5;
                                }
                            }
                        }

                        .next-post
                        {
                            cursor: pointer;

                            &:hover
                            {
                                svg
                                {
                                    fill: $yellow_5;
                                }
                            }
                        }
                    }
                }
            }












        }

    }
}
