
.course
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .left-content
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        background: $black;
        width: 40%;
        padding: 100px 75px 300px 0;
        position: relative;

        @include media-breakpoint-down(lg)
        {
            width: 100%;
            padding: 10px;
            justify-content: flex-start;
        }

        .wrap-content
        {
            width: fit-content;
            position: relative;

            .title
            {
                h2
                {
                    display: flex;
                    flex-direction: column;
                    font-size: 9.2rem;
                    font-weight: 300;
                    width: 80px;

                    @include media-breakpoint-down(lg)
                    {
                        font-size: 6.2rem;
                        width: 100%;
                        margin: 20px 0;
                    }

                    @include media-breakpoint-down(md)
                    {
                        font-size: 3.2rem;
                    }

                    strong
                    {
                        font-size: 6.7rem;
                        font-weight: 700;
                        border-top: 4px solid $white;

                        @include media-breakpoint-down(lg)
                        {
                            font-size: 3.7rem;
                            width: fit-content;
                        }

                        @include media-breakpoint-down(md)
                        {
                            font-size: 2.7rem;
                        }
                    }

                }
            }

            .text
            {
                p
                {
                    font-size: 2rem;
                    font-weight: 500;
                    width: 272px;

                    @include media-breakpoint-down(lg)
                    {
                        width: 100%;
                        margin: 0 0 20px;
                    }

                    @include media-breakpoint-down(md)
                    {
                        font-size: 1.8rem;
                    }

                }
            }

        }

        .image-left-content
        {
            position: absolute;
            bottom: 0;
            left: 0;

            @include media-breakpoint-down(md)
            {
                display: none;
            }

            img
            {
                max-width: 100%;
            }
        }
    }

    .main-content
    {
        background: $dark;
        width: 60%;
        padding: 110px 0 110px 110px;

        @include media-breakpoint-down(xl)
        {
            padding: 20px 0 20px 20px;
        }

        @include media-breakpoint-down(lg)
        {
            width: 100%;
        }


        .wrap-slider-cursos
        {
            height: 100%;
            margin: 0;

            .grid-container
            {
                display: grid;
                grid-template-columns: 662px;
                grid-template-rows: 110px 550px 660px 330px;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                "CatNameGridWrapper"
                "TopGridWrapper"
                "MidGridWrapper"
                "BotGridWrapper";
                height: 100%;
                margin: 0;


                .CatNameGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: CatNameGridWrapper;
                    overflow: hidden;
                    position: relative;

                    .title-category
                    {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        background: $yellow_6;
                        padding: 10px;

                        h2
                        {
                            font-size: 2.8rem;
                            font-weight: 700;
                        }
                    }
                }

                .TopGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: TopGridWrapper;
                    overflow: hidden;
                    position: relative;
                }

                .MidGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    "LeftMidGridWrap RightMidGridWrap";
                    grid-area: MidGridWrapper;
                    overflow: hidden;
                }

                .LeftMidGridWrap
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    "TopLeftMidGridWrap"
                    "BotLeftMidGridWrap";
                    grid-area: LeftMidGridWrap;
                    overflow: hidden;
                }

                .TopLeftMidGridWrap
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: TopLeftMidGridWrap;
                    overflow: hidden;
                }

                .BotLeftMidGridWrap
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: BotLeftMidGridWrap;
                    overflow: hidden;
                }

                .RightMidGridWrap
                {
                    grid-area: RightMidGridWrap;
                    overflow: hidden;
                }

                .BotGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: BotGridWrapper;
                    overflow: hidden;
                }

                .grid-container *
                {
                    border: 1px solid red;
                    position: relative;
                }

                .grid-container *:after
                {
                    content:attr(class);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                }
            }

            .wrap-courses
            {
                overflow: hidden;
                position: relative;
                cursor: pointer;

                .front-course
                {
                    display: block;
                    opacity: 1;

                    img
                    {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .back-course
                {
                    background: $blue_1;

                    display: none;
                    opacity: 0;

                    position: absolute;
                    top: 0;
                    right: 0;

                    height: 100%;
                    width: 100%;
                    padding: 10px;

                    .title
                    {
                        h2
                        {
                            font-size: 1.75rem;
                            font-weight: 300;
                            color: $white;
                        }

                        h3
                        {
                            font-size: 1.75rem;
                            font-weight: 300;
                            color: $white;
                            margin: 15px 0;


                            strong
                            {
                                display: block;
                                font-size: 1.75rem;
                                font-weight: 700;
                            }
                        }
                    }

                    .text
                    {
                        p
                        {
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: $white;
                        }
                    }


                }

                .ico-course
                {
                    opacity: 0;
                    width: 80px;
                    height: auto;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }

        }

        .wrap-pagination
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 662px;
            max-width: 100%;

            @include media-breakpoint-down(xl)
            {
                width: 95%;
            }

            .swiper-pagination
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                position: relative;
                background: rgba(0, 0, 0, 0.7);
                width: fit-content !important;
                padding: 10px;
                top: 0;

                @include media-breakpoint-down(md)
                {
                    top: -38px;
                }
            }

            .swiper-pagination-bullet
            {
                width: 15px;
                height: 15px;
                background: $gray_1;
                border: 0;

                @include media-breakpoint-down(md)
                {
                    width: 8px;
                    height: 8px;
                }
            }

            .swiper-pagination-bullet-active
            {
                width: 22px;
                height: 22px;

                @include media-breakpoint-down(md)
                {
                    width: 15px;
                    height: 15px;
                }

                background: transparent;
                border: 3px solid $white;
            }
        }

    }
}
