
.course
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    .left-content
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        background: $black;
        width: 40%;
        padding: 100px 75px 300px 0;
        position: relative;

        @include media-breakpoint-down(lg)
        {
            width: 100%;
            padding: 10px;
            justify-content: flex-start;
        }

        .wrap-content
        {
            width: fit-content;
            position: relative;

            .title
            {
                h2
                {
                    display: flex;
                    flex-direction: column;
                    font-size: 9.2rem;
                    font-weight: 300;
                    width: 80px;

                    @include media-breakpoint-down(lg)
                    {
                        font-size: 6.2rem;
                        width: 100%;
                        margin: 20px 0;
                    }

                    @include media-breakpoint-down(md)
                    {
                        font-size: 3.2rem;
                    }

                    strong
                    {
                        font-size: 6.7rem;
                        font-weight: 700;
                        border-top: 4px solid $white;

                        @include media-breakpoint-down(lg)
                        {
                            font-size: 3.7rem;
                            width: fit-content;
                        }

                        @include media-breakpoint-down(md)
                        {
                            font-size: 2.7rem;
                        }
                    }

                }
            }

            .text
            {
                p
                {
                    font-size: 2rem;
                    font-weight: 500;
                    width: 272px;

                    @include media-breakpoint-down(lg)
                    {
                        width: 100%;
                        margin: 0 0 20px;
                    }

                    @include media-breakpoint-down(md)
                    {
                        font-size: 1.8rem;
                    }

                }
            }

        }

        .image-left-content
        {
            position: absolute;
            bottom: 0;
            left: 0;

            @include media-breakpoint-down(md)
            {
                display: none;
            }

            img
            {
                max-width: 100%;
            }
        }
    }

    .main-content
    {
        background: $dark;
        width: 60%;
        padding: 110px 0 110px 110px;

        @include media-breakpoint-down(xl)
        {
            padding: 20px 0 20px 20px;
        }

        @include media-breakpoint-down(lg)
        {
            width: 100%;
        }


        .wrap-slider-cursos
        {
            height: 100%;
            margin: 0;

            .grid-container
            {
                display: grid;
                grid-template-columns: 662px;
                grid-template-rows: 110px 550px 660px 330px;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                "CatNameGridWrapper"
                "TopGridWrapper"
                "MidGridWrapper"
                "BotGridWrapper";
                height: 100%;
                margin: 0;


                .CatNameGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: CatNameGridWrapper;
                    overflow: hidden;
                    position: relative;

                    .title-category
                    {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        background: $yellow_6;
                        padding: 10px;

                        h2
                        {
                            font-size: 2.8rem;
                            font-weight: 700;
                        }
                    }
                }

                .TopGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: TopGridWrapper;
                    overflow: hidden;
                    position: relative;
                }

                .MidGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    "LeftMidGridWrap RightMidGridWrap";
                    grid-area: MidGridWrapper;
                    overflow: hidden;
                }

                .LeftMidGridWrap
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    "TopLeftMidGridWrap"
                    "BotLeftMidGridWrap";
                    grid-area: LeftMidGridWrap;
                    overflow: hidden;
                }

                .TopLeftMidGridWrap
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: TopLeftMidGridWrap;
                    overflow: hidden;
                }

                .BotLeftMidGridWrap
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: BotLeftMidGridWrap;
                    overflow: hidden;
                }

                .RightMidGridWrap
                {
                    grid-area: RightMidGridWrap;
                    overflow: hidden;
                }

                .BotGridWrapper
                {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 0px;
                    grid-auto-flow: row;
                    grid-template-areas:
                    ".";
                    grid-area: BotGridWrapper;
                    overflow: hidden;
                }

                .grid-container *
                {
                    border: 1px solid red;
                    position: relative;
                }

                .grid-container *:after
                {
                    content:attr(class);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                }
            }

            .wrap-courses
            {
                overflow: hidden;
                position: relative;

                .front-course
                {
                    display: block;
                    opacity: 1;

                    img
                    {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .back-course
                {
                    background: $blue_1;

                    display: none;
                    opacity: 0;

                    position: absolute;
                    top: 0;
                    right: 0;

                    height: 100%;
                    width: 100%;
                    padding: 10px;

                    .title
                    {
                        h2
                        {
                            font-size: 1.75rem;
                            font-weight: 300;
                            color: $white;
                        }

                        h3
                        {
                            font-size: 1.75rem;
                            font-weight: 300;
                            color: $white;
                            margin: 15px 0;


                            strong
                            {
                                display: block;
                                font-size: 1.75rem;
                                font-weight: 700;
                            }
                        }
                    }

                    .text
                    {
                        p
                        {
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: $white;
                        }
                    }


                }

                .ico-course
                {
                    opacity: 0;
                    width: 80px;
                    height: auto;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    cursor: pointer;

                    svg
                    {
                        max-width: 100%;
                        rect
                        {
                            transition: fill 500ms ease;
                        }
                    }

                    &:hover
                    {
                        svg
                        {
                            rect
                            {
                                fill: $yellow_6;
                            }
                        }
                    }
                }
            }

        }

        .wrap-pagination
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 662px;
            max-width: 100%;

            @include media-breakpoint-down(xl)
            {
                width: 95%;
            }

            .swiper-pagination
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                position: relative;
                background: rgba(0, 0, 0, 0.7);
                width: fit-content !important;
                padding: 10px;
                top: 0;

                @include media-breakpoint-down(md)
                {
                    top: -38px;
                }
            }

            .swiper-pagination-bullet
            {
                width: 15px;
                height: 15px;
                background: $gray_1;
                border: 0;

                @include media-breakpoint-down(md)
                {
                    width: 8px;
                    height: 8px;
                }
            }

            .swiper-pagination-bullet-active
            {
                width: 22px;
                height: 22px;

                @include media-breakpoint-down(md)
                {
                    width: 15px;
                    height: 15px;
                }

                background: transparent;
                border: 3px solid $white;
            }
        }

    }

}

.single-post-discipline
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    .backdrop-post-discipline
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: $layer-1;
        top: 0;
        cursor: pointer;
    }

    .wrap-single-post-discipline
    {
        background: $blue_1;
        width: 60%;
        height: 100%;
        position: relative;
        z-index: $layer-2;
        margin-left: auto;
        padding: 60px 0 60px 100px;

        @include media-breakpoint-down(xl)
        {
            width: 80%;
        }

        @include media-breakpoint-down(lg)
        {
            width: 100%;
        }

        @include media-breakpoint-down(md)
        {
            padding: 20px;
        }

        .single-discipline
        {

            .wrap-top-single-post
            {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                align-items: center;
                justify-content: flex-start;
                margin: 0 0 25px 0;

                .close-post-discipline
                {
                    cursor: pointer;
                    margin: 0 35px 0 0;

                    svg
                    {
                        fill: $blue_2;
                    }

                    &:hover
                    {
                        svg
                        {
                            fill: $yellow_5;
                        }
                    }

                }

                .post-infos
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .category
                    {

                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        background: $yellow_6;
                        padding: 10px;

                        strong
                        {
                            font-size: 3.8rem;
                            font-weight: 600;

                            span
                            {
                                margin: 0 5px;
                            }

                        }
                    }
                }
            }

            .wrap-content-single-post
            {
                .video-single-post
                {
                    margin-bottom: 15px;
                    width: 640px;
                    height: 360px;
                    max-width: 100%;

                    @include media-breakpoint-down(md)
                    {
                        width: 335px;
                        height: 190px;
                    }

                    iframe
                    {
                        max-width: 100%;
                        height: 100%;
                    }
                }

                .title-single-post
                {
                    h2
                    {
                        font-size: 3.5rem;
                        font-weight: 300;
                        margin-bottom: 15px;
                        width: 575px;
                        max-width: 100%;
                    }
                }

                .content-single-post
                {
                    font-size: 1.6rem;
                    font-weight: 400;
                    width: 90%;
                    max-width: 100%;
                    margin-bottom: 35px;

                    h2
                    {
                        strong
                        {
                            display: block;
                            font-size: 3rem;
                            font-weight: 500;
                            margin: 35px 0 20px;
                        }
                    }
                }
            }

            .wrap-bottom-single-post
            {
                display: flex;
                flex-wrap: wrap;

                @include media-breakpoint-down(md)
                {
                    flex-direction: column;
                }

                .pagination-single-post
                {
                    display: flex;
                    flex-wrap: wrap;
                    width: 50%;

                    @include media-breakpoint-down(md)
                    {
                        width: 100%;
                        margin-bottom: 35px;
                    }

                    .previous-post-discipline
                    {
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        align-items: center;
                        cursor: pointer;

                        svg
                        {
                            fill: $yellow_5;
                            margin-left: -5px;
                        }

                        &:hover
                        {
                            svg
                            {
                                fill: $green_1;
                            }
                        }

                        .text-box-discipline
                        {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            align-content: center;
                            align-items: center;
                            background: $green_1;
                            color: $white;
                            height: 100%;
                            padding: 5px 15px;

                            strong
                            {
                                display: block;
                                line-height: 19px;
                                font-size: 22px;
                                font-weight: 200;
                            }
                        }
                    }

                    .next-post-discipline
                    {
                        cursor: pointer;
                        margin-right: 20px;

                        svg
                        {
                            fill: $white;
                        }

                        &:hover
                        {
                            svg
                            {
                                fill: $yellow_5;
                            }
                        }
                    }
                }

            }
        }
    }
}
