
footer
{
    padding: 60px 0 40px;
    background-color: $black;

    @include media-breakpoint-up(md)
    {
        .logo-mobu
        {
            margin-top: -50px;
            margin-right: 50px;
        }
    }

    .wrap_footer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    @include media-breakpoint-down(md)
    {
        #social-menu
        {
            margin-top: 30px;

            .social-menu
            {
                .menu-item
                {
                    a
                    {
                        padding: 0;
                        width: 32px;
                        height: 32px;
                        img
                        {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
