footer {
    padding: 60px 0 40px;
    background-color: $black;

    .logo-mobu
    {
        margin-top: -50px;
        margin-right: 50px;
    }

    .wrap_footer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

}
